obj/
*.o
*@
*__pycache__/
*pycache*
imgui.ini
media/ 
.cache
.elinks*
.ipynb*
.jupyter*
.links*
.w3m*
.local*
*.sql*
temp*
Tex*
.bash*
main.cpp-e
video-course-geometry
board-gpu-bin
ONLY_MATHS
ONLY_PHYSICS
media
ONLY_CHEMISTRY
ONLY_PROGRAMMING
video-course-physic-bin
video-course-chemistry-bin
video-course-maths-bin
video-course-programming-bin
video-course-machine-learning-bin
video-course-mysql-learning-bin
video-course-devsops-bin
*bin
deleteme
.ipython*
.vscode
*bash_history*
videos*
images/
media/
Tex/
texts/
*obj/*
ONLY_BOARD_PHYSICS/
*SVG_IMG/
Tle
1ere
video-course-channels-physics-bin
